<!DOCTYPE html>
<html lang="en" xmlns="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <p>
        Username: <span sec:authentication="principal.username"></span>
        <br><br>
        User Role: <span sec:authentication="principal.authorities"></span>
    </p>
    <hr>
    <p>
        Hello Person! Welcome to Theos World!
        <br>
    </p>
    <div sec:authorize="hasRole('MANAGER')">
        <p>
            <a th:href="@{/leaders}">Leadership Meeting</a>
        </p>
    </div>

    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>